<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
  <test thread-count="5" name="RegressionTest">
    <classes>
      <class name="com.actitime.all_test_scripts.TestScript4"/>
      <class name="com.actitime.all_test_scripts.TestScript3"/>
      <class name="com.actitime.all_test_scripts.CreateNewProjectTC_350"/>
      <class name="com.actitime.all_test_scripts.CreateUserTC_203"/>
      <class name="com.actitime.all_test_scripts.CreateNewCustomerTC_125"/>
      <class name="com.actitime.all_test_scripts.CreateNewTasksTC_351"/>
      <class name="com.actitime.rough.RoughPage"/>
      <class name="com.actitime.all_test_scripts.TestScript1"/>
    </classes>
  </test> <!-- RegressionTest -->
</suite> <!-- RegressionSuite -->
